<html>
<head>
    <title>Malicious_Accounts</title>
</head>
<body>
    <table>
        <tr>
            <th>Sender IP</th>
            <th>Account Number</th>
            <th>Online Status</th>
            <th>Operating System</th>
        </tr>
        {% for malicious_accounts in malicious_accounts %}
        <tr>
            {% for cell in malicious_accounts %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
